<% content_for :ideas_class, "active" %>
<div class="row">
    <div class="col-lg-12">
        <h3 class="text-center" style="border-bottom: 1px solid #333; padding-bottom: 20px">
            All your ideas
        </h3>
        <div class="pull-right">
            <%= link_to new_idea_path do %>
              <span class="glyphicon glyphicon-plus"></span> New Idea
            <% end %>
            
            <%= link_to ideas_path do %>
              <span class="glyphicon glyphicon-list"></span> All Ideas
            <% end %>
        </div>
        
        <ul class="timeline">
            <% @ideas.each do |idea| %>
                <li>
                  <div class="timeline-image">
                    <%= image_tag(idea.picture_url, width: 200, height: 200, class: "img-circle img-responsive") if idea.picture.present? %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4><%= idea.name %></h4>
                      <h4 class="subheading"></h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">
                        <%= idea.sub_content %>
                      </p>
                      <%= link_to 'Show Details', idea %>
                    </div>
                  </div>
                  <div class="line"></div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
