<div class="row">
    <div class="col-md-offset-2 col-md-offset-8">
        <p id="notice"><%= notice %></p>
        <div class="col-md-3">
              <%= image_tag(@idea.picture_url, width: 150, class: "img img-reponsive") if @idea.picture.present? %>
        </div>
        
        <div class="col-md-9">
            <p>
              <strong>Name:</strong>
              <%= @idea.name %>
            </p>
            
            <p>
              <strong>Description:</strong>
              <%= @idea.description %>
            </p>
        </div>
    </div>
    <div class="col-md-offset-2 col-md-offset-8">
        <%= link_to 'Edit', edit_idea_path(@idea), class: "btn btn-primary" %>
        <%= link_to 'Back', ideas_path, class: "btn btn-warning" %>
    </div>
</div>


