<h1 style="text-align: center">Editing Profile</h1>
<div class="col-md-4 col-md-offset-4">
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this idea from being saved:</h2>
    
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= f.label :user_name %><br>
        <%= f.text_field :user_name, class: "form-control", style: "width: 100%", placeholder: "Username" %>
      </div>
      <div class="form-group">
        <%= f.label :telephone %><br>
        <%= f.text_field :telephone, class: "form-control", style: "width: 100%", placeholder: "0123456789" %>
      </div>
      <div class="gravatar_edit">
        <%= gravatar_for current_user %>
        <a href="http://gravatar.com/emails" target="_blank" class="change-avatar">
            <span class="glyphicon glyphicon-cloud-upload"></span>Change Avatar</a>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
</div>
